{
  "openapi": "3.1.0",
  "info": {
    "title": "Sessionboard OSS API",
    "version": "1.0.0",
    "summary": "Read your event's programme, speakers and submissions as JSON.",
    "description": "A small read-only HTTP API over a published event.\n\n- Three JSON endpoints (`sessions`, `speakers`, `submissions`) need a bearer token.\n- The calendar feed (`schedule.ics`) needs nothing — it is meant to be subscribed to.\n- Every event is addressed by its **slug**, the same one in its public URL (`/e/{slug}`).\n- All timestamps are epoch **milliseconds** (UTC).\n\nEverything the API can read, the [MCP server](/docs/mcp) can read and write.",
    "license": { "name": "MIT", "identifier": "MIT" },
    "contact": { "name": "Sessionboard OSS", "url": "https://github.com/markokraemer/sessionboard" }
  },
  "servers": [
    {
      "url": "https://neat-sparrow-926.eu-west-1.convex.site",
      "description": "Live demo deployment (token: demo-api-token)"
    },
    {
      "url": "{deployment}",
      "description": "Your own Convex deployment",
      "variables": {
        "deployment": {
          "default": "https://your-deployment.convex.site",
          "description": "Your Convex HTTP Actions URL — the .convex.site host, not .convex.cloud."
        }
      }
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Programme", "description": "The published schedule and who is on it." },
    { "name": "Submissions", "description": "Everything that came through a CFP form." },
    { "name": "Calendar", "description": "Subscribable .ics feed. No auth." }
  ],
  "paths": {
    "/v1/event/{slug}/sessions": {
      "get": {
        "tags": ["Programme"],
        "operationId": "listSessions",
        "summary": "List programme sessions",
        "description": "Every accepted session on the event, earliest first, with its room, track and speakers. Sessions that have not been scheduled yet come back with `startTime`, `endTime` and `location` set to `null`.",
        "parameters": [
          { "$ref": "#/components/parameters/slug" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/pageSize" }
        ],
        "responses": {
          "200": {
            "description": "A page of sessions.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SessionsPage" },
                "example": {
                  "data": [
                    {
                      "id": "k576p5rja08cewj14w7c8b6xm58c836r",
                      "title": "Cost modelling for inference-heavy products",
                      "description": "How to build a unit-economics model for an AI product before the invoice teaches you.",
                      "status": "accepted",
                      "startTime": 1791795600000,
                      "endTime": 1791798300000,
                      "durationMinutes": 45,
                      "location": "Workshop Room",
                      "track": "Product",
                      "trackColor": "#1E9E6B",
                      "format": "Talk",
                      "level": "Intermediate",
                      "language": "English",
                      "tags": ["cost", "strategy"],
                      "speakers": [
                        {
                          "id": "m9762pydz499p47yfw14hqngps8c8khk",
                          "name": "Noah Blackwood",
                          "firstName": "Noah",
                          "lastName": "Blackwood",
                          "jobTitle": "Chief Technology Officer",
                          "company": "Fathom Robotics",
                          "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/4c7d510d"
                        }
                      ]
                    }
                  ],
                  "event": {
                    "_id": "j971knsfnkn37v5wj5rfqfcdc98c8b6f",
                    "name": "AI Engineer Summit 2026",
                    "slug": "ai-summit-2026",
                    "type": "Conference",
                    "venue": "Moscone West, San Francisco",
                    "websiteUrl": "https://example.com/ai-summit-2026",
                    "timezone": "America/Los_Angeles",
                    "startsAt": 1791820800000,
                    "endsAt": 1791939600000,
                    "logoUrl": null
                  },
                  "pagination": { "currentPage": 1, "pageSize": 25, "totalPages": 1, "totalResults": 9 }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/event/{slug}/speakers": {
      "get": {
        "tags": ["Programme"],
        "operationId": "listSpeakers",
        "summary": "List confirmed speakers",
        "description": "Everyone attached to an accepted session, sorted by last name, each with the sessions they are on. Bearer-token holders also get the speaker's email — the browser-facing public pages never expose it.",
        "parameters": [
          { "$ref": "#/components/parameters/slug" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/pageSize" }
        ],
        "responses": {
          "200": {
            "description": "A page of speakers.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SpeakersPage" },
                "example": {
                  "data": [
                    {
                      "id": "m97c1jek8cpvxb36n8e8fkb2w58c9zdc",
                      "name": "Tom Beaumont",
                      "firstName": "Tom",
                      "lastName": "Beaumont",
                      "email": "tom.beaumont@example.com",
                      "jobTitle": "Developer Advocate",
                      "company": "Ridgeline",
                      "bio": null,
                      "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/b81b5d97",
                      "links": null,
                      "sessions": [
                        {
                          "id": "k5784x0mng7y5wjxbg186kmcwd8c93wp",
                          "title": "Evaluation harnesses for production LLMs",
                          "startTime": 1791824400000,
                          "endTime": 1791827100000,
                          "location": "Workshop Room"
                        }
                      ]
                    }
                  ],
                  "event": {
                    "_id": "j971knsfnkn37v5wj5rfqfcdc98c8b6f",
                    "name": "AI Engineer Summit 2026",
                    "slug": "ai-summit-2026",
                    "timezone": "America/Los_Angeles",
                    "startsAt": 1791820800000,
                    "endsAt": 1791939600000,
                    "logoUrl": null
                  },
                  "pagination": { "currentPage": 1, "pageSize": 25, "totalPages": 1, "totalResults": 12 }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/event/{slug}/submissions": {
      "get": {
        "tags": ["Submissions"],
        "operationId": "listSubmissions",
        "summary": "List submissions",
        "description": "Every submission on the event — at every status, including the ones still in a decision queue — newest first. This is the endpoint to poll into a spreadsheet or an Airtable automation.",
        "parameters": [
          { "$ref": "#/components/parameters/slug" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/pageSize" }
        ],
        "responses": {
          "200": {
            "description": "A page of submissions.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionsPage" },
                "example": {
                  "data": [
                    {
                      "id": "k572a6rd3df6qgyfazv2cbzk798c93ff",
                      "title": "Retrieval that survives contact with users",
                      "description": "<p>What breaks when real queries arrive.</p>",
                      "kind": "abstract",
                      "status": "pending",
                      "track": "AI Engineering",
                      "format": "Talk",
                      "level": "Introductory",
                      "language": "English",
                      "tags": [],
                      "submittedAt": 1786414633329,
                      "decidedAt": null,
                      "speakers": [
                        {
                          "id": "m973nt2mfkjfp81ve5gwprqmax8c8yme",
                          "name": "Vera Ellery",
                          "email": "vera@example.com",
                          "role": "speaker",
                          "jobTitle": "QA Engineer",
                          "company": null
                        }
                      ]
                    }
                  ],
                  "event": {
                    "_id": "j971knsfnkn37v5wj5rfqfcdc98c8b6f",
                    "name": "AI Engineer Summit 2026",
                    "slug": "ai-summit-2026",
                    "timezone": "America/Los_Angeles",
                    "startsAt": 1791820800000,
                    "endsAt": 1791939600000,
                    "venue": "Moscone West, San Francisco"
                  },
                  "pagination": { "currentPage": 1, "pageSize": 25, "totalPages": 1, "totalResults": 19 }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/event/{slug}/schedule.ics": {
      "get": {
        "tags": ["Calendar"],
        "operationId": "getScheduleIcs",
        "summary": "Subscribe to the schedule (.ics)",
        "security": [],
        "description": "An RFC 5545 calendar of every scheduled session — title, room, track and speakers — with no authentication, so attendees can paste it straight into Google Calendar, Apple Calendar or Outlook. Sessions without a time slot are left out.",
        "parameters": [{ "$ref": "#/components/parameters/slug" }],
        "responses": {
          "200": {
            "description": "A VCALENDAR document.",
            "headers": {
              "Content-Disposition": {
                "description": "attachment; filename=\"{slug}.ics\"",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "text/calendar": {
                "schema": { "type": "string" },
                "example": "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//Sessionboard OSS//Event Schedule//EN\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nX-WR-CALNAME:AI Engineer Summit 2026\r\nBEGIN:VEVENT\r\nUID:k576p5rja08cewj14w7c8b6xm58c836r@ai-summit-2026.sessionboard\r\nDTSTAMP:20260811T021739Z\r\nDTSTART:20261012T090000Z\r\nDTEND:20261012T094500Z\r\nSUMMARY:Cost modelling for inference-heavy products\r\nLOCATION:Workshop Room\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Send `Authorization: Bearer <token>`. The demo deployment accepts `demo-api-token`; self-hosters set `PUBLIC_API_TOKEN` on the Convex deployment."
      }
    },
    "parameters": {
      "slug": {
        "name": "slug",
        "in": "path",
        "required": true,
        "description": "The event slug, e.g. `ai-summit-2026`.",
        "schema": { "type": "string" },
        "example": "ai-summit-2026"
      },
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "1-based page number. Clamped to the last page.",
        "schema": { "type": "integer", "minimum": 1, "default": 1 }
      },
      "pageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "description": "Rows per page. Values above 100 are clamped to 100.",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "`page` or `pageSize` was not a positive integer.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "`page` must be an integer >= 1." }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or wrong bearer token.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "Missing or invalid bearer token. Send `Authorization: Bearer <token>`." }
          }
        }
      },
      "NotFound": {
        "description": "No event with that slug (or an unknown resource path).",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "No event with slug \"ai-summit-2026\"." }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": { "error": { "type": "string", "description": "Human-readable reason." } }
      },
      "Pagination": {
        "type": "object",
        "description": "Every list response carries this envelope.",
        "required": ["currentPage", "pageSize", "totalPages", "totalResults"],
        "properties": {
          "currentPage": { "type": "integer", "description": "The page you actually got, after clamping." },
          "pageSize": { "type": "integer" },
          "totalPages": { "type": "integer", "description": "At least 1, even when there are no rows." },
          "totalResults": { "type": "integer" }
        }
      },
      "Timestamp": {
        "type": "integer",
        "format": "int64",
        "description": "Epoch milliseconds, UTC."
      },
      "EventSummary": {
        "type": "object",
        "description": "The event the rows belong to. Returned by `sessions` and `speakers`.",
        "required": ["_id", "name", "slug", "timezone", "logoUrl"],
        "properties": {
          "_id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "type": { "type": "string", "description": "Conference | Summit | Meetup | Workshop …" },
          "description": { "type": "string" },
          "venue": { "type": "string" },
          "websiteUrl": { "type": "string", "format": "uri" },
          "timezone": { "type": "string", "description": "IANA timezone, e.g. `America/Los_Angeles`." },
          "startsAt": { "$ref": "#/components/schemas/Timestamp" },
          "endsAt": { "$ref": "#/components/schemas/Timestamp" },
          "logoUrl": { "type": ["string", "null"], "format": "uri" }
        }
      },
      "EventRef": {
        "type": "object",
        "description": "The slimmer event block returned by `submissions`.",
        "required": ["_id", "name", "slug", "timezone"],
        "properties": {
          "_id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "timezone": { "type": "string" },
          "startsAt": { "$ref": "#/components/schemas/Timestamp" },
          "endsAt": { "$ref": "#/components/schemas/Timestamp" },
          "venue": { "type": "string" }
        }
      },
      "SessionSpeaker": {
        "type": "object",
        "required": ["id", "name", "firstName", "lastName", "headshotUrl"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "jobTitle": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "headshotUrl": { "type": ["string", "null"], "format": "uri" }
        }
      },
      "Session": {
        "type": "object",
        "required": ["id", "title", "status", "tags", "speakers"],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": ["string", "null"], "description": "May contain HTML." },
          "status": { "type": "string", "const": "accepted", "description": "Only accepted sessions are ever public." },
          "startTime": { "oneOf": [{ "$ref": "#/components/schemas/Timestamp" }, { "type": "null" }], "description": "`null` until it is scheduled." },
          "endTime": { "oneOf": [{ "$ref": "#/components/schemas/Timestamp" }, { "type": "null" }] },
          "durationMinutes": { "type": ["integer", "null"] },
          "location": { "type": ["string", "null"], "description": "Room name." },
          "track": { "type": ["string", "null"] },
          "trackColor": { "type": ["string", "null"], "description": "Hex colour, for rendering the track chip." },
          "format": { "type": ["string", "null"], "description": "Talk | Workshop | Lightning Talk …" },
          "level": { "type": ["string", "null"] },
          "language": { "type": ["string", "null"] },
          "tags": { "type": "array", "items": { "type": "string" } },
          "speakers": { "type": "array", "items": { "$ref": "#/components/schemas/SessionSpeaker" } }
        }
      },
      "SpeakerSession": {
        "type": "object",
        "required": ["id", "title"],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "startTime": { "oneOf": [{ "$ref": "#/components/schemas/Timestamp" }, { "type": "null" }] },
          "endTime": { "oneOf": [{ "$ref": "#/components/schemas/Timestamp" }, { "type": "null" }] },
          "location": { "type": ["string", "null"] }
        }
      },
      "Speaker": {
        "type": "object",
        "required": ["id", "name", "firstName", "lastName", "sessions"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": ["string", "null"], "format": "email", "description": "Bearer-token holders only." },
          "jobTitle": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "bio": { "type": ["string", "null"] },
          "headshotUrl": { "type": ["string", "null"], "format": "uri" },
          "links": {
            "type": ["object", "null"],
            "properties": {
              "linkedin": { "type": "string" },
              "twitter": { "type": "string" },
              "website": { "type": "string" }
            }
          },
          "sessions": { "type": "array", "items": { "$ref": "#/components/schemas/SpeakerSession" } }
        }
      },
      "SubmissionParticipant": {
        "type": "object",
        "required": ["id", "name", "email", "role"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "role": { "type": "string", "enum": ["speaker", "chairperson", "moderator"] },
          "jobTitle": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] }
        }
      },
      "Submission": {
        "type": "object",
        "required": ["id", "title", "kind", "status", "tags", "submittedAt", "speakers"],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": ["string", "null"], "description": "May contain HTML." },
          "kind": {
            "type": "string",
            "enum": ["abstract", "session"],
            "description": "`abstract` came through a CFP form; `session` was added by an organizer."
          },
          "status": {
            "type": "string",
            "enum": ["draft", "pending", "accept_queue", "decline_queue", "accepted", "declined", "withdrawn"],
            "description": "The queue statuses are staged decisions — nothing has been emailed yet."
          },
          "track": { "type": ["string", "null"] },
          "format": { "type": ["string", "null"] },
          "level": { "type": ["string", "null"] },
          "language": { "type": ["string", "null"] },
          "tags": { "type": "array", "items": { "type": "string" } },
          "submittedAt": { "$ref": "#/components/schemas/Timestamp" },
          "decidedAt": { "oneOf": [{ "$ref": "#/components/schemas/Timestamp" }, { "type": "null" }] },
          "speakers": { "type": "array", "items": { "$ref": "#/components/schemas/SubmissionParticipant" } }
        }
      },
      "SessionsPage": {
        "type": "object",
        "required": ["data", "event", "pagination"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Session" } },
          "event": { "$ref": "#/components/schemas/EventSummary" },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "SpeakersPage": {
        "type": "object",
        "required": ["data", "event", "pagination"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Speaker" } },
          "event": { "$ref": "#/components/schemas/EventSummary" },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "SubmissionsPage": {
        "type": "object",
        "required": ["data", "event", "pagination"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Submission" } },
          "event": { "$ref": "#/components/schemas/EventRef" },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      }
    }
  }
}
