{
  "openapi": "3.1.0",
  "info": {
    "title": "Trackstage API",
    "version": "1.1.0",
    "summary": "Read and write your event's programme, speakers, submissions, custom fields and agenda — and get webhooks when any of it changes.",
    "description": "A complete REST API over an event: sessions and abstracts, speakers, custom fields, session files, the agenda, and signed outbound webhooks.\n\n### Authentication\n\nSend a personal API key from **Settings → API & MCP** as either header — both are first-class:\n\n```\nx-access-token: sb_live_…\nAuthorization: Bearer sb_live_…\n```\n\nA key resolves to a user, and every request re-runs the same workspace-membership authorization the app itself uses, so a key can never reach an event its owner cannot. Keys may optionally declare **scopes** (`read:events`, `read:sessions`, `read:contacts`, `write:sessions`, `write:contacts`, `write:fields`, `write:metadata`, `write:events`); a key without scopes is unrestricted within its owner's permissions, and declaring scopes can only narrow that.\n\nThe demo token `demo-api-token` is read-only and exists so the API can be explored without signing up. `schedule.ics` needs no credential at all — calendar clients cannot send headers.\n\n### Conventions\n\n- **Events are addressed by slug or id.** `/v1/event/ai-summit-2026/sessions` and `/v1/event/{id}/sessions` are the same endpoint.\n- **Paginated responses carry `data` and `results`** — the same array under both names — plus a `pagination` object with camelCase *and* snake_case keys. Default page size 25, maximum 100.\n- **Times** are ISO-8601 in responses. Requests accept ISO-8601 or epoch milliseconds. Legacy epoch-millisecond fields (`startTime`, `submittedAt`, …) are still returned alongside.\n- **Errors** are `{ error, code, message, status }`; `error` and `message` are the same human sentence.\n- **Optimistic concurrency**: send the `updated_at` you last read on `PUT /sessions/{id}` and a concurrent edit answers `409` instead of silently winning.\n- **Rate limits** are 100 requests / 15 minutes per key per category, reported on every rate-limited response via `RateLimit-Limit`, `RateLimit-Remaining` and `RateLimit-Reset`.\n\n### Custom fields\n\nA custom field and a CFP form question are the same object. `GET /v1/event/{eventRef}/fields` returns the definitions (with `internal_name`, type, options and whether the field holds PII); every session carries its answers as `custom_fields[]` (labelled, with a lossless `value_raw`) and as a raw `answers` map; `PUT /v1/event/{eventRef}/sessions/{sessionId}/fields` writes them. Creating a field through `POST /fields/create` adds the question to the form builder and to the public submission form.\n\n### Webhooks\n\nRegister an endpoint with `POST /v1/webhooks`. Every delivery POSTs `{ data, metadata }` and carries:\n\n| Header | Meaning |\n| --- | --- |\n| `Trackstage-Signature` | `t=<unix-seconds>,v1=<hex>` — HMAC-SHA256 of `\"{t}.{body}\"` keyed with the endpoint's `whsec_…` secret. |\n| `Trackstage-Event` | The event type. |\n| `Trackstage-Delivery` | Unique delivery id, for idempotency. |\n\nVerify the signature before trusting a payload, and reject timestamps outside your tolerance to prevent replay. Failed deliveries retry five times with exponential backoff (1s, 5s, 25s, 125s) and the full attempt log is readable at `GET /v1/webhooks/{webhookId}/deliveries`.\n\n**Event types**\n\n| Event | Fires when |\n| --- | --- |\n| `submission.created` | A CFP submission arrived. |\n| `submission.updated` | A submission's details or status changed. |\n| `session.created` | A programme session was created. |\n| `session.updated` | A session's details changed. |\n| `session.deleted` | A session was soft-deleted. |\n| `session.restored` | A soft-deleted session was restored. |\n| `session.scheduled` | A session was given a room and a slot. |\n| `session.unscheduled` | A session was taken off the timetable. |\n| `decision.committed` | An accept or decline queue was committed and the emails went out. |\n| `agenda.published` | The public programme went live. |\n| `speaker.created` | Someone was added to the roster. |\n| `speaker.updated` | A speaker's profile or workflow status changed. |\n| `file.uploaded` | A file was attached to a session. |\n| `file.deleted` | A session file was removed. |\n| `webhook.test` | A test delivery you triggered yourself. |\n\nSubscribe to `[\"*\"]` for all of them.\n\n### MCP\n\nEverything here is also available to AI agents over MCP at `/mcp` — see [the MCP reference](/docs/mcp).",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "Trackstage",
      "url": "https://github.com/markokraemer/sessionboard"
    }
  },
  "servers": [
    {
      "url": "https://neat-sparrow-926.eu-west-1.convex.site",
      "description": "Your deployment's Convex site URL."
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerToken": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "The events a credential can reach."
    },
    {
      "name": "Sessions",
      "description": "Read sessions, abstracts and submissions."
    },
    {
      "name": "Session Writes",
      "description": "Create, update, soft-delete, restore and bulk-edit sessions. Requires `write:sessions`."
    },
    {
      "name": "Session Files",
      "description": "Attachments on a session — slides, handouts, anything a speaker uploads. Requires `write:sessions` to change."
    },
    {
      "name": "Speakers",
      "description": "The event's people and their sessions."
    },
    {
      "name": "Event Settings",
      "description": "Field definitions and the value lists a session's metadata comes from: tracks, rooms, tags, formats, levels, languages, statuses."
    },
    {
      "name": "Field Writes",
      "description": "Define custom fields. In this product a custom field IS a CFP form question, so changes show up in the form builder and on the public form. Requires `write:fields`."
    },
    {
      "name": "Metadata Writes",
      "description": "Create, rename and delete tracks, rooms and value lists. Requires `write:metadata`."
    },
    {
      "name": "Agenda",
      "description": "The timetable, its conflicts, and the publish gate."
    },
    {
      "name": "Webhooks",
      "description": "Signed, retried HTTP callbacks so you never have to poll. Requires `write:events` to manage."
    },
    {
      "name": "Calendar",
      "description": "The public .ics subscription feed."
    }
  ],
  "paths": {
    "/v1/_echo": {
      "post": {
        "operationId": "echoWebhookDelivery",
        "tags": [
          "Webhooks"
        ],
        "summary": "Signature-verifying echo sink",
        "description": "Test target for webhook deliveries. Pass the endpoint's signing secret as `?secret=` and the sink recomputes the HMAC over the exact body: it answers 200 only when the signature verifies, and 401 otherwise. Point a webhook here to prove end-to-end delivery and signing without standing up a server.\n\n**No credential required.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EchoResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          }
        },
        "security": []
      }
    },
    "/v1/event/{eventRef}/agenda": {
      "get": {
        "operationId": "getAgenda",
        "tags": [
          "Agenda"
        ],
        "summary": "Get the agenda",
        "description": "The whole timetable in one read: rooms, tracks, every placement, everything still unscheduled, and the live conflict list (double-booked rooms and speakers).\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgendaEnvelope"
                },
                "example": {
                  "data": {
                    "conflicts": [],
                    "event": {
                      "_id": "j971emkyf6md23jphggczhghvd8c8qjq",
                      "agenda_published_at": "2026-08-06T03:27:18.602Z",
                      "created_at": "2026-08-11T03:27:18.602Z",
                      "description": "Two days for the people building AI systems that have to work on Monday morning. Practitioner talks on evaluation, agents, retrieval, inference infrastructure and the product decisions in between — no keynote fluff, no vendor pitches.",
                      "endsAt": 1791939600000,
                      "ends_at": "2026-10-14T01:00:00.000Z",
                      "features": {
                        "custom_fields": true,
                        "translated_fields": false,
                        "webhooks": true
                      },
                      "id": "j971emkyf6md23jphggczhghvd8c8qjq",
                      "logo_url": null,
                      "name": "AI Engineer Summit 2026",
                      "slug": "ai-summit-2026",
                      "startsAt": 1791820800000,
                      "starts_at": "2026-10-12T16:00:00.000Z",
                      "timezone": "America/Los_Angeles",
                      "type": "Conference",
                      "venue": "Moscone West, San Francisco",
                      "websiteUrl": "https://example.com/ai-summit-2026",
                      "website_url": "https://example.com/ai-summit-2026"
                    },
                    "published": true,
                    "published_at": "2026-08-06T03:27:18.602Z",
                    "rooms": [
                      {
                        "capacity": 300,
                        "id": "js7928f758c8d8qn6xqj705py58c9r3j",
                        "name": "Main Stage",
                        "order": 0
                      },
                      {
                        "capacity": 80,
                        "id": "js703wmx07yh80wngvzx2xnt9h8c811v",
                        "name": "Workshop Room",
                        "order": 1
                      }
                    ],
                    "scheduled": [
                      {
                        "duration_minutes": 45,
                        "ends_at": "2026-10-12T09:45:00.000Z",
                        "id": "k57cfvgs8hrs97xbvv82vcbd4d8c8y59",
                        "room_id": "js7928f758c8d8qn6xqj705py58c9r3j",
                        "starts_at": "2026-10-12T09:00:00.000Z",
                        "title": "Structured output without the sadness",
                        "track_id": "kd7805tv3jwftr3zw2w5bq0sms8c89wn"
                      },
                      {
                        "duration_minutes": 45,
                        "ends_at": "2026-10-12T09:45:00.000Z",
                        "id": "k57818z4rbjk54p03n1kna0rw58c8t7d",
                        "room_id": "js703wmx07yh80wngvzx2xnt9h8c811v",
                        "starts_at": "2026-10-12T09:00:00.000Z",
                        "title": "Cost modelling for inference-heavy products",
                        "track_id": "kd71aqbkdmt4nevr61p5wdg64d8c8pb9"
                      }
                    ],
                    "totals": {
                      "conflicts": 0,
                      "scheduled": 10,
                      "unscheduled": 0
                    },
                    "tracks": [
                      {
                        "color": "#2F5CE0",
                        "id": "kd7805tv3jwftr3zw2w5bq0sms8c89wn",
                        "name": "AI Engineering",
                        "order": 0
                      },
                      {
                        "color": "#1E9E6B",
                        "id": "kd71aqbkdmt4nevr61p5wdg64d8c8pb9",
                        "name": "Product",
                        "order": 1
                      }
                    ],
                    "unscheduled": []
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          }
        }
      }
    },
    "/v1/event/{eventRef}/agenda/publish": {
      "post": {
        "operationId": "publishAgenda",
        "tags": [
          "Agenda"
        ],
        "summary": "Publish the agenda",
        "description": "Opens the public programme. Until this is called the public pages render “Schedule coming soon” however much is scheduled internally. Requires the admin role.\n\n**Scope** `write:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `event_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/agenda/unpublish": {
      "post": {
        "operationId": "unpublishAgenda",
        "tags": [
          "Agenda"
        ],
        "summary": "Unpublish the agenda",
        "description": "Takes the public programme back down. Requires the admin role.\n\n**Scope** `write:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `event_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/fields": {
      "get": {
        "operationId": "listFields",
        "tags": [
          "Event Settings"
        ],
        "summary": "List fields",
        "description": "Every field definition on the event — the CFP form's questions plus its participant fields. These are the `internal_name`s you write through `PUT /sessions/{id}/fields`.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/search"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldsPage"
                },
                "example": {
                  "data": [
                    {
                      "contains_pii": false,
                      "createdAt": "2026-08-11T03:27:18.602Z",
                      "enabled": true,
                      "field_source": "standard",
                      "field_type": "short_text",
                      "form_id": "jd78d2k3nfftskesewr6qesn7d8c90d8",
                      "form_slug": "cfp",
                      "help": "Aim for something an attendee could choose from a schedule without extra context.",
                      "id": "title",
                      "internal_name": "title",
                      "options": null,
                      "public_name": "Session title",
                      "required": true,
                      "scope": "session",
                      "updatedAt": "2026-08-11T03:27:18.602Z"
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 3,
                    "page_size": 3,
                    "totalPages": 6,
                    "totalResults": 16,
                    "total_pages": 6,
                    "total_results": 16
                  },
                  "results": [
                    {
                      "contains_pii": false,
                      "createdAt": "2026-08-11T03:27:18.602Z",
                      "enabled": true,
                      "field_source": "standard",
                      "field_type": "short_text",
                      "form_id": "jd78d2k3nfftskesewr6qesn7d8c90d8",
                      "form_slug": "cfp",
                      "help": "Aim for something an attendee could choose from a schedule without extra context.",
                      "id": "title",
                      "internal_name": "title",
                      "options": null,
                      "public_name": "Session title",
                      "required": true,
                      "scope": "session",
                      "updatedAt": "2026-08-11T03:27:18.602Z"
                    }
                  ],
                  "unknownResource": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "post": {
        "operationId": "searchFields",
        "tags": [
          "Event Settings"
        ],
        "summary": "Search fields",
        "description": "Same data as the list form, with the search body Sessionboard clients send.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataSearchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldsPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/fields/{fieldId}": {
      "delete": {
        "operationId": "deleteField",
        "tags": [
          "Field Writes"
        ],
        "summary": "Delete a custom field",
        "description": "Removes the question from every form on the event. Answers already collected are preserved on their sessions and keep coming back in `custom_fields`.\n\n**Scope** `write:fields` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `field_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/fieldId"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "put": {
        "operationId": "updateField",
        "tags": [
          "Field Writes"
        ],
        "summary": "Update a custom field",
        "description": "Renames a field or changes its type, options, help text or required flag. System fields (Title, Description) refuse the edit with a 400.\n\n**Scope** `write:fields` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `field_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/fieldId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldWriteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/fields/create": {
      "post": {
        "operationId": "createField",
        "tags": [
          "Field Writes"
        ],
        "summary": "Create a custom field",
        "description": "Appends a question to the event's CFP form. Custom fields and form questions are the same thing here, so a field created through the API shows up in the form builder and on the public submission form.\n\n**Scope** `write:fields` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `field_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldWriteBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/formats": {
      "get": {
        "operationId": "listFormats",
        "tags": [
          "Event Settings"
        ],
        "summary": "List formats",
        "description": "Every format configured on the event.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/search"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                },
                "example": {
                  "data": [
                    {
                      "created_at": null,
                      "id": "Keynote",
                      "name": "Keynote",
                      "order": 0,
                      "updated_at": null
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 25,
                    "page_size": 25,
                    "totalPages": 1,
                    "totalResults": 5,
                    "total_pages": 1,
                    "total_results": 5
                  },
                  "results": [
                    {
                      "created_at": null,
                      "id": "Keynote",
                      "name": "Keynote",
                      "order": 0,
                      "updated_at": null
                    }
                  ],
                  "unknownResource": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "post": {
        "operationId": "searchFormats",
        "tags": [
          "Event Settings"
        ],
        "summary": "Search formats",
        "description": "Same data as the list form, with the search body Sessionboard clients send.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataSearchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/formats/{id}": {
      "delete": {
        "operationId": "deleteFormat",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Delete a format",
        "description": "Removes the format. Formats have no table of their own: they are the options on the CFP form's `format` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "put": {
        "operationId": "updateFormat",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Update a format",
        "description": "Renames or reorders a format. Formats have no table of their own: they are the options on the CFP form's `format` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/formats/create": {
      "post": {
        "operationId": "createFormat",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Create a format",
        "description": "Adds a format to the event. Formats have no table of their own: they are the options on the CFP form's `format` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/languages": {
      "get": {
        "operationId": "listLanguages",
        "tags": [
          "Event Settings"
        ],
        "summary": "List languages",
        "description": "Every language configured on the event.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/search"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                },
                "example": {
                  "data": [
                    {
                      "created_at": null,
                      "id": "English",
                      "name": "English",
                      "order": 0,
                      "updated_at": null
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 25,
                    "page_size": 25,
                    "totalPages": 1,
                    "totalResults": 3,
                    "total_pages": 1,
                    "total_results": 3
                  },
                  "results": [
                    {
                      "created_at": null,
                      "id": "English",
                      "name": "English",
                      "order": 0,
                      "updated_at": null
                    }
                  ],
                  "unknownResource": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "post": {
        "operationId": "searchLanguages",
        "tags": [
          "Event Settings"
        ],
        "summary": "Search languages",
        "description": "Same data as the list form, with the search body Sessionboard clients send.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataSearchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/languages/{id}": {
      "delete": {
        "operationId": "deleteLanguage",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Delete a language",
        "description": "Removes the language. Languages have no table of their own: they are the options on the CFP form's `language` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "put": {
        "operationId": "updateLanguage",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Update a language",
        "description": "Renames or reorders a language. Languages have no table of their own: they are the options on the CFP form's `language` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/languages/create": {
      "post": {
        "operationId": "createLanguage",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Create a language",
        "description": "Adds a language to the event. Languages have no table of their own: they are the options on the CFP form's `language` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/levels": {
      "get": {
        "operationId": "listLevels",
        "tags": [
          "Event Settings"
        ],
        "summary": "List levels",
        "description": "Every level configured on the event.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/search"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                },
                "example": {
                  "data": [
                    {
                      "created_at": null,
                      "id": "Advanced",
                      "name": "Advanced",
                      "order": 0,
                      "updated_at": null
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 25,
                    "page_size": 25,
                    "totalPages": 1,
                    "totalResults": 4,
                    "total_pages": 1,
                    "total_results": 4
                  },
                  "results": [
                    {
                      "created_at": null,
                      "id": "Advanced",
                      "name": "Advanced",
                      "order": 0,
                      "updated_at": null
                    }
                  ],
                  "unknownResource": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "post": {
        "operationId": "searchLevels",
        "tags": [
          "Event Settings"
        ],
        "summary": "Search levels",
        "description": "Same data as the list form, with the search body Sessionboard clients send.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataSearchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/levels/{id}": {
      "delete": {
        "operationId": "deleteLevel",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Delete a level",
        "description": "Removes the level. Levels have no table of their own: they are the options on the CFP form's `level` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "put": {
        "operationId": "updateLevel",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Update a level",
        "description": "Renames or reorders a level. Levels have no table of their own: they are the options on the CFP form's `level` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/levels/create": {
      "post": {
        "operationId": "createLevel",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Create a level",
        "description": "Adds a level to the event. Levels have no table of their own: they are the options on the CFP form's `level` question, so this edits that question and the form builder shows the change immediately.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/rooms": {
      "get": {
        "operationId": "listRooms",
        "tags": [
          "Event Settings"
        ],
        "summary": "List rooms",
        "description": "Every room configured on the event.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/search"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                },
                "example": {
                  "data": [
                    {
                      "capacity": 300,
                      "created_at": "2026-08-11T03:27:18.602Z",
                      "id": "js7928f758c8d8qn6xqj705py58c9r3j",
                      "name": "Main Stage",
                      "order": 0,
                      "updated_at": "2026-08-11T03:27:18.602Z"
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 25,
                    "page_size": 25,
                    "totalPages": 1,
                    "totalResults": 2,
                    "total_pages": 1,
                    "total_results": 2
                  },
                  "results": [
                    {
                      "capacity": 300,
                      "created_at": "2026-08-11T03:27:18.602Z",
                      "id": "js7928f758c8d8qn6xqj705py58c9r3j",
                      "name": "Main Stage",
                      "order": 0,
                      "updated_at": "2026-08-11T03:27:18.602Z"
                    }
                  ],
                  "unknownResource": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "post": {
        "operationId": "searchRooms",
        "tags": [
          "Event Settings"
        ],
        "summary": "Search rooms",
        "description": "Same data as the list form, with the search body Sessionboard clients send.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataSearchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/rooms/{id}": {
      "delete": {
        "operationId": "deleteRoom",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Delete a room",
        "description": "Deletes the room and unschedules anything standing in it, so the agenda never points at a room that no longer exists.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "put": {
        "operationId": "updateRoom",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Update a room",
        "description": "Renames or reorders a room.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/rooms/create": {
      "post": {
        "operationId": "createRoom",
        "tags": [
          "Metadata Writes"
        ],
        "summary": "Create a room",
        "description": "Adds a room to the event.\n\n**Scope** `write:metadata` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `metadata_writes` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataWriteBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/schedule.ics": {
      "get": {
        "operationId": "getScheduleFeed",
        "tags": [
          "Calendar"
        ],
        "summary": "Subscribe to the event calendar",
        "description": "RFC 5545 calendar feed of the published programme. Deliberately open: calendar clients subscribe by URL and cannot send an auth header. Only accepted, scheduled sessions of a published agenda appear.\n\n**No credential required.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//Trackstage//Event Schedule//EN\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nX-WR-CALNAME:AI Engineer Summit 2026\r\nBEGIN:VEVENT\r\nUID:k57818z4rbjk54p03n1kna0rw58c8t7d@ai-summit-2026.trackstage\r\nDTSTAMP:20260811T032838Z\r\nDTSTART:20261012T090000Z\r\nDTEND:20261012T094500Z\r\nSUMMARY:Cost modelling for inference-heavy products\r\n…"
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/E404"
          }
        },
        "security": []
      }
    },
    "/v1/event/{eventRef}/session-statuses": {
      "get": {
        "operationId": "listSessionStatuses",
        "tags": [
          "Event Settings"
        ],
        "summary": "List session statuses",
        "description": "Every session status configured on the event.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/search"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                },
                "example": {
                  "data": [
                    {
                      "created_at": null,
                      "id": "draft",
                      "name": "draft",
                      "order": 0,
                      "system": true,
                      "updated_at": null
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 25,
                    "page_size": 25,
                    "totalPages": 1,
                    "totalResults": 7,
                    "total_pages": 1,
                    "total_results": 7
                  },
                  "results": [
                    {
                      "created_at": null,
                      "id": "draft",
                      "name": "draft",
                      "order": 0,
                      "system": true,
                      "updated_at": null
                    }
                  ],
                  "unknownResource": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      },
      "post": {
        "operationId": "searchSessionStatuses",
        "tags": [
          "Event Settings"
        ],
        "summary": "Search session statuses",
        "description": "Same data as the list form, with the search body Sessionboard clients send.\n\n**Scope** `read:events` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.\n\n**Rate limit** 100 requests / 15 minutes in the `entity_reads` bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataSearchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          }
        }
      }
    },
    "/v1/event/{eventRef}/sessions": {
      "get": {
        "operationId": "listSessions",
        "tags": [
          "Sessions"
        ],
        "summary": "List sessions",
        "description": "Paginated sessions. With no filters this returns the accepted programme — the behaviour this endpoint has always had — so existing consumers are unaffected. Passing any filter (`status`, `is_abstract`, `track_id`, `tag_id`, `search`) opts into the full pipeline, soft-deleted rows excluded.\n\n**Scope** `read:sessions` — enforced only when the presenting key declares a scope set; an unscoped key acts with its owner's workspace permissions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventRef"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/is_abstract"
          },
          {
            "$ref": "#/components/parameters/track_id"
          },
          {
            "$ref": "#/components/parameters/tag_id"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/expand"
          },
          {
            "$ref": "#/components/parameters/include_deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsPage"
                },
                "example": {
                  "data": [
                    {
                      "answers": {
                        "description": "<p>A talk created by the verify script.</p>",
                        "format": "Talk",
                        "language": "English",
                        "level": "Introductory",
                        "title": "Verification Talk",
                        "track": "AI Engineering"
                      },
                      "capacity": null,
                      "chairpersons": [],
                      "created_at": "2026-08-11T03:27:33.444Z",
                      "custom_fields": [
                        {
                          "created_at": "2026-08-11T03:27:33.444Z",
                          "id": "description",
                          "internal_name": "description",
                          "name": "Session description",
                          "type": "long_text",
                          "value": "<p>A talk created by the verify script.</p>",
                          "value_raw": "<p>A talk created by the verify script.</p>"
                        },
                        {
                          "created_at": "2026-08-11T03:27:33.444Z",
                          "id": "format",
                          "internal_name": "format",
                          "name": "Format",
                          "type": "dropdown",
                          "value": "Talk",
                          "value_raw": "Talk"
                        }
                      ],
                      "decidedAt": 1786418865308,
                      "decided_at": "2026-08-11T03:27:45.308Z",
                      "deleted_at": null,
                      "description": "<p>A talk created by the verify script.</p>",
                      "durationMinutes": null,
                      "duration_minutes": null,
                      "endTime": null,
                      "ends_at": null,
                      "format": {
                        "id": "Talk",
                        "name": "Talk"
                      },
                      "friendly_id": "SESS-64530",
                      "friendly_id_raw": 64530,
                      "id": "k57a8s50rhxh9xck6kznjnng2d8c88yq",
                      "is_abstract": true,
                      "is_public": true,
                      "kind": "abstract",
                      "language": {
                        "id": "English",
                        "name": "English"
                      },
                      "level": {
                        "id": "Introductory",
                        "name": "Introductory"
                      },
                      "location": null,
                      "moderators": [],
                      "notified_at": "2026-08-11T03:27:45.308Z",
                      "participants": [
                        {
                          "about": "An updated bio from the verify script.",
                          "bio": "An updated bio from the verify script.",
                          "company": null,
                          "company_name": null,
                          "created_at": "2026-08-11T03:27:31.360Z",
                          "email": "verify-e2e-mso3nrc2@example.com",
                          "firstName": "Vera",
                          "first_name": "Vera",
                          "friendly_id": "SPK-95912",
                          "friendly_id_raw": 95912,
                          "full_name": "Vera Efftest",
                          "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "id": "m97cd0d1qabm1r6784jzxc846s8c8wyy",
                          "jobTitle": "QA Engineer",
                          "lastName": "Efftest",
                          "last_name": "Efftest",
                          "linkedin_url": null,
                          "name": "Vera Efftest",
                          "participant_role": {
                            "core_role": "speaker",
                            "name": "Speaker",
                            "name_plural": "Speakers",
                            "slug": "speaker"
                          },
                          "phone_mobile": null,
                          "photo_url": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "pronouns": null,
                          "salutation": null,
                          "title": "QA Engineer",
                          "twitter_url": null,
                          "updated_at": "2026-08-11T03:27:31.360Z",
                          "website_url": null,
                          "workflow_status": null
                        }
                      ],
                      "room": null,
                      "speakers": [
                        {
                          "about": "An updated bio from the verify script.",
                          "bio": "An updated bio from the verify script.",
                          "company": null,
                          "company_name": null,
                          "created_at": "2026-08-11T03:27:31.360Z",
                          "email": "verify-e2e-mso3nrc2@example.com",
                          "firstName": "Vera",
                          "first_name": "Vera",
                          "friendly_id": "SPK-95912",
                          "friendly_id_raw": 95912,
                          "full_name": "Vera Efftest",
                          "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "id": "m97cd0d1qabm1r6784jzxc846s8c8wyy",
                          "jobTitle": "QA Engineer",
                          "lastName": "Efftest",
                          "last_name": "Efftest",
                          "linkedin_url": null,
                          "name": "Vera Efftest",
                          "participant_role": {
                            "core_role": "speaker",
                            "name": "Speaker",
                            "name_plural": "Speakers",
                            "slug": "speaker"
                          },
                          "phone_mobile": null,
                          "photo_url": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "pronouns": null,
                          "salutation": null,
                          "title": "QA Engineer",
                          "twitter_url": null,
                          "updated_at": "2026-08-11T03:27:31.360Z",
                          "website_url": null,
                          "workflow_status": null
                        }
                      ],
                      "startTime": null,
                      "starts_at": null,
                      "status": "accepted",
                      "submittedAt": 1786418853444.4263,
                      "submitter": {
                        "about": "An updated bio from the verify script.",
                        "bio": "An updated bio from the verify script.",
                        "company": null,
                        "company_name": null,
                        "created_at": "2026-08-11T03:27:31.360Z",
                        "email": "verify-e2e-mso3nrc2@example.com",
                        "firstName": "Vera",
                        "first_name": "Vera",
                        "friendly_id": "SPK-95912",
                        "friendly_id_raw": 95912,
                        "full_name": "Vera Efftest",
                        "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                        "id": "m97cd0d1qabm1r6784jzxc846s8c8wyy",
                        "jobTitle": "QA Engineer",
                        "lastName": "Efftest",
                        "last_name": "Efftest",
                        "linkedin_url": null,
                        "name": "Vera Efftest",
                        "participant_role": null,
                        "phone_mobile": null,
                        "photo_url": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                        "pronouns": null,
                        "salutation": null,
                        "title": "QA Engineer",
                        "twitter_url": null,
                        "updated_at": "2026-08-11T03:27:31.360Z",
                        "website_url": null,
                        "workflow_status": null
                      },
                      "subsessions": [],
                      "tags": [],
                      "title": "Verification Talk (edited)",
                      "track": {
                        "color": "#2F5CE0",
                        "created_at": "2026-08-11T03:27:18.602Z",
                        "event_id": "j971emkyf6md23jphggczhghvd8c8qjq",
                        "id": "kd7805tv3jwftr3zw2w5bq0sms8c89wn",
                        "name": "AI Engineering",
                        "order": 0,
                        "updated_at": "2026-08-11T03:27:18.602Z"
                      },
                      "trackColor": "#2F5CE0",
                      "updated_at": "2026-08-11T03:27:33.444Z"
                    }
                  ],
                  "event": {
                    "_id": "j971emkyf6md23jphggczhghvd8c8qjq",
                    "agenda_published_at": "2026-08-06T03:27:18.602Z",
                    "created_at": "2026-08-11T03:27:18.602Z",
                    "description": "Two days for the people building AI systems that have to work on Monday morning. Practitioner talks on evaluation, agents, retrieval, inference infrastructure and the product decisions in between — no keynote fluff, no vendor pitches.",
                    "endsAt": 1791939600000,
                    "ends_at": "2026-10-14T01:00:00.000Z",
                    "features": {
                      "custom_fields": true,
                      "translated_fields": false,
                      "webhooks": true
                    },
                    "id": "j971emkyf6md23jphggczhghvd8c8qjq",
                    "logo_url": null,
                    "name": "AI Engineer Summit 2026",
                    "slug": "ai-summit-2026",
                    "startsAt": 1791820800000,
                    "starts_at": "2026-10-12T16:00:00.000Z",
                    "timezone": "America/Los_Angeles",
                    "type": "Conference",
                    "venue": "Moscone West, San Francisco",
                    "websiteUrl": "https://example.com/ai-summit-2026",
                    "website_url": "https://example.com/ai-summit-2026"
                  },
                  "pagination": {
                    "currentPage": 1,
                    "current_page": 1,
                    "pageSize": 1,
                    "page_size": 1,
                    "totalPages": 9,
                    "totalResults": 9,
                    "total_pages": 9,
                    "total_results": 9
                  },
                  "results": [
                    {
                      "answers": {
                        "description": "<p>A talk created by the verify script.</p>",
                        "format": "Talk",
                        "language": "English",
                        "level": "Introductory",
                        "title": "Verification Talk",
                        "track": "AI Engineering"
                      },
                      "capacity": null,
                      "chairpersons": [],
                      "created_at": "2026-08-11T03:27:33.444Z",
                      "custom_fields": [
                        {
                          "created_at": "2026-08-11T03:27:33.444Z",
                          "id": "description",
                          "internal_name": "description",
                          "name": "Session description",
                          "type": "long_text",
                          "value": "<p>A talk created by the verify script.</p>",
                          "value_raw": "<p>A talk created by the verify script.</p>"
                        },
                        {
                          "created_at": "2026-08-11T03:27:33.444Z",
                          "id": "format",
                          "internal_name": "format",
                          "name": "Format",
                          "type": "dropdown",
                          "value": "Talk",
                          "value_raw": "Talk"
                        }
                      ],
                      "decidedAt": 1786418865308,
                      "decided_at": "2026-08-11T03:27:45.308Z",
                      "deleted_at": null,
                      "description": "<p>A talk created by the verify script.</p>",
                      "durationMinutes": null,
                      "duration_minutes": null,
                      "endTime": null,
                      "ends_at": null,
                      "format": {
                        "id": "Talk",
                        "name": "Talk"
                      },
                      "friendly_id": "SESS-64530",
                      "friendly_id_raw": 64530,
                      "id": "k57a8s50rhxh9xck6kznjnng2d8c88yq",
                      "is_abstract": true,
                      "is_public": true,
                      "kind": "abstract",
                      "language": {
                        "id": "English",
                        "name": "English"
                      },
                      "level": {
                        "id": "Introductory",
                        "name": "Introductory"
                      },
                      "location": null,
                      "moderators": [],
                      "notified_at": "2026-08-11T03:27:45.308Z",
                      "participants": [
                        {
                          "about": "An updated bio from the verify script.",
                          "bio": "An updated bio from the verify script.",
                          "company": null,
                          "company_name": null,
                          "created_at": "2026-08-11T03:27:31.360Z",
                          "email": "verify-e2e-mso3nrc2@example.com",
                          "firstName": "Vera",
                          "first_name": "Vera",
                          "friendly_id": "SPK-95912",
                          "friendly_id_raw": 95912,
                          "full_name": "Vera Efftest",
                          "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "id": "m97cd0d1qabm1r6784jzxc846s8c8wyy",
                          "jobTitle": "QA Engineer",
                          "lastName": "Efftest",
                          "last_name": "Efftest",
                          "linkedin_url": null,
                          "name": "Vera Efftest",
                          "participant_role": {
                            "core_role": "speaker",
                            "name": "Speaker",
                            "name_plural": "Speakers",
                            "slug": "speaker"
                          },
                          "phone_mobile": null,
                          "photo_url": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "pronouns": null,
                          "salutation": null,
                          "title": "QA Engineer",
                          "twitter_url": null,
                          "updated_at": "2026-08-11T03:27:31.360Z",
                          "website_url": null,
                          "workflow_status": null
                        }
                      ],
                      "room": null,
                      "speakers": [
                        {
                          "about": "An updated bio from the verify script.",
                          "bio": "An updated bio from the verify script.",
                          "company": null,
                          "company_name": null,
                          "created_at": "2026-08-11T03:27:31.360Z",
                          "email": "verify-e2e-mso3nrc2@example.com",
                          "firstName": "Vera",
                          "first_name": "Vera",
                          "friendly_id": "SPK-95912",
                          "friendly_id_raw": 95912,
                          "full_name": "Vera Efftest",
                          "headshotUrl": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "id": "m97cd0d1qabm1r6784jzxc846s8c8wyy",
                          "jobTitle": "QA Engineer",
                          "lastName": "Efftest",
                          "last_name": "Efftest",
                          "linkedin_url": null,
                          "name": "Vera Efftest",
                          "participant_role": {
                            "core_role": "speaker",
                            "name": "Speaker",
                            "name_plural": "Speakers",
                            "slug": "speaker"
                          },
                          "phone_mobile": null,
                          "photo_url": "https://neat-sparrow-926.eu-west-1.convex.cloud/api/storage/40d6bda7-5627-4674-a9a0-5f1d6275277a",
                          "pronouns": null,
                          "salutation": null,
                          "title": "QA Engineer",
                          "twitter_url": null,
                          "updated_at": "2026-08-11T03:27:31.360Z",
                          "website_url": null,
                          "workflow_status": null
                        }
                      ],
                      "startTime": null,
                      "starts_at": null,
                      "status": "accepted",
                      "submittedAt": 1786418853444.4263,
                      "submitter": {
                        "about": "An updated bio from the verify script.",
                        "bio": "An updated bio from the verify script.",
                        "company": null,
                        "company_name": null,
                        "created_at": "2026-08-11T03:27:31.360Z",
                        "email": "verify-e2e-mso3nrc2@example.com",
                        "firstName": "Vera",
                        "first_name": "Vera",
                        "friendly_id": "SPK-95912",
[...]
